{% extends "users/base.html" %}
{% block title %}Exercises Page{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Exercises</h1>
        <p class="lead">
            Exercises will be shown here...
                <iframe src="https://hf.space/embed/mfmurdock/Test/+" frameBorder="0" height="450" title="Gradio app" class="container p-0 flex-grow space-iframe" sandbox="allow-forms allow-modals allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-downloads"></iframe>

        </p>
    </div>
{% endblock content %}